.contact-image-container {
  display: flex;
  align-items: center;
}

.contact-image {
  margin-right: 0.5rem;
}

.contact-details-text,
.contact-details-text-link {
  font-style: italic;
  margin-top: 0.5rem;
  font-weight: 500;
  color: royalblue;
  text-decoration: none;
  font-size: var(--font-m);
}

.contact-details-text-link:hover {
  text-decoration: underline;
  color: darkviolet;
}

@media only screen and (max-width: 480px) {
  .contact-details-text,
  .contact-details-text-link {
    margin-top: 0.1rem;
    font-size: var(--font-s);
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contact-details-text,
  .contact-details-text-link {
    margin-top: 0.2rem;
    font-size: var(--font-m);
  }
}
