.skills-list .SubHeader {
  margin-bottom: 2rem;
  font-size: larger;
}

.skills-list-group {
  font-style: italic;
  font-weight: 400;
}

.skills-list-group .list-group-item:hover {
  background-color: lightgrey;
}

.skills-list-group .list-group-item a {
  text-decoration: none;
  color: black;
}

.skills-list-group .list-group-item img {
  margin-right: 1.5rem;
}

.skills-list-group .list-group-item img:hover {
  border: outset 2px lightcyan;
  border-radius: 10%;
}
