@import "../../vars/index.css";

.navbar-override {
  background: linear-gradient(90deg, #25355f 0%, #86f0c8 100%);
}

.navbar .navbar-container {
  max-width: 100%;
  margin: var(--zero) var(--space-m);
}

.navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white !important;
}

.logo-container {
  display: flex;
  height: calc(var(--space-l) + var(--space-xxs));
  width: calc(var(--space-l) + var(--space-xxs));
  border-radius: 25%;
  border: var(--space-xxxxs) solid white;
  padding: var(--space-xxxs);
  margin-right: var(--space-xxxs);
}

.logo {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.navbar .nav-links {
  display: flex;
  justify-content: space-around;
  flex-grow: 0.1;
  margin-right: 5rem;
  font-size: var(--font-xl);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nav-links .link-text {
  font-weight: var(--font-bold-l);
  color: black;
}

.nav-links .link-text:hover {
  color: whitesmoke;
}

@media only screen and (max-width: 480px) {
  .navbar .container {
    margin: var(--zero);
  }

  .logo-container {
    display: flex;
    height: var(--space-l);
    width: var(--space-l);
    border-radius: 25%;
    border: var(--space-xxxxxs) solid whitesmoke;
    padding: var(--space-xxxxs);
    margin-right: var(--space-xxxxs);
  }
}
