@import "../../../../vars/index.css";

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding-left: 1rem;
  height: 15rem;
}

.contact-info .SubHeader {
  color: darkslateblue;
  font-size: var(--font-l);
  font-weight: var(--font-black);
  margin-bottom: 1rem;
}

@media only screen and (max-width: 480px) {
  .Footer {
    height: 8rem;
  }

  .Footer-content {
    flex-direction: column;
  }
}

@media only screen and (min-width: 481px) and (max-width: 900px) {
  .Footer {
    height: 8rem;
  }

  .Footer-content {
    flex-direction: column;
  }
}
