@import "../../vars/index.css";

.ProfilePage .Layout {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.ProfilePage .ProfileContainer {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .ProfilePage .ProfileContainer {
    display: block;
    text-align: center;
  }
}
