@import "../../vars/index.css";

.ProfilePage {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 580px) {
  .ProfilePage {
    display: flex;
    flex-direction: column;
  }
}
