:root {
  --color-rebecca-purple: rebeccapurple;
  --color-yellow-green: yellowgreen;

  --bg-gradient-page-not-found: linear-gradient(
    90deg,
    rgba(235, 228, 177, 0.8487044475993523) 0%,
    rgba(169, 220, 217, 0.8823178929775035) 50%,
    rgba(235, 228, 177, 0.8487044475993523) 100%
  );
}
