@import "../../vars/index.css";

.Header {
  display: block;
  font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.first {
  font-size: var(--font-xxxxxl);
  font-weight: var(--font-black);
  line-height: var(--line-xxxxxl);
}

.second {
  font-size: var(--font-xxxl);
  font-weight: var(--font-bold-xl);
  line-height: var(--line-xxxxl);
}

.third {
  font-size: var(--font-xxl);
  font-weight: var(--font-bold);
  line-height: var(--line-xxl);
}

.fourth {
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
  line-height: var(--line-xl);
}

@media only screen and (max-width: 480px) {
  .first {
    font-size: var(--font-xxl);
    font-weight: var(--font-bold-xl);
    line-height: var(--line-xxl);
  }

  .second {
    font-size: var(--font-xl);
    font-weight: var(--font-bold-xl);
    line-height: var(--line-xxxxl);
  }

  .third {
    font-size: var(--font-l);
    font-weight: var(--font-bold);
    line-height: var(--line-xl);
  }

  .fourth {
    font-size: var(--font-m);
    font-weight: var(--font-bold);
    line-height: var(--line-l);
  }
}
