.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.app-content {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
}
